
body {font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: darkgreen;   
    align-items: center;
    width: 98%;
    margin: auto;
    text-align: center;}
    
    .container {
        display: flex;
        gap: 20px;
    }
    .rectangle {
        width: 150px;
        height: 200px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 18px;
        border-radius: 10px;
        transition: background-color 0.3s;
    }
    
    .rectangle:hover {
       background-color: #45a049;
    }
    
    